.contact-filter {
    padding: em(10px) 0;

    input{
        padding:em(10px);
        border:none;
        border-radius: 4px;
        background-color: #03a9f414;
        color:$clr0;
        font-size:em(16px);
        

       &::placeholder{
            color:$clr0;
        }
    }
}
