.contact-preview {
    background-color: #03a9f414;
    box-shadow: 0 0 11px #0000002b;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .img-wrapper{
       img{
        height: 150px;
        object-fit: contain;  
       }
    }

    .icon-wrapper{
      @include classic-btn;
      color:$clr0;
    }

    h2{
      text-align: center;
    }
  
    .actions {
      position: absolute;
      top:0;
      right:0;
      
      height: em(35px);
      gap:em(10px);
      padding: 10px;
      color:white;
       
      transform: translateY(-100%);
      transition: transform 0.5s;
    }

    &:hover :is(.actions,h2)  {
      transform: translateY(0);
    }
}
