.contact-page{
  .btn-add-contact{
    @include classic-btn;

    padding:em(10px);
    display:inline-flex;
    color:$clr0;
    width:100%;
    justify-content: flex-end;
  }

  // .contact-actions{

  // }
}